{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_task</th>
                <th>Date_deb_task</th>
                <th>Date_fin_task</th>
                <th>Status_task</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.nomTask }}</td>
                <td>{{ task.dateDebTask ? task.dateDebTask|date('Y-m-d') : '' }}</td>
                <td>{{ task.dateFinTask ? task.dateFinTask|date('Y-m-d') : '' }}</td>
                <td>{{ task.statusTask }}</td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Create new</a>
{% endblock %}
