{% extends 'base.html.twig' %}

{% block title %}Incident index{% endblock %}

{% block body %}
    <h1>Incident index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_incident</th>
                <th>Desc_incident</th>
                <th>Urgence_incident</th>
                <th>Status_incident</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
            <tr>
                <td>{{ incident.id }}</td>
                <td>{{ incident.nomIncident }}</td>
                <td>{{ incident.descIncident }}</td>
                <td>{{ incident.urgenceIncident }}</td>
                <td>{{ incident.statusIncident }}</td>
                <td>
                    <a href="{{ path('app_incident_show', {'id': incident.id}) }}">show</a>
                    <a href="{{ path('app_incident_edit', {'id': incident.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_incident_new') }}">Create new Incident</a>
<iframe src="http://localhost:3000/d-solo/TJEXXcu7k/new-dashboard?orgId=1&from=1654487907754&to=1654509507754&theme=light&panelId=32" width="500" height="450" frameborder="0"></iframe><br>

<iframe src="http://localhost:3000/d-solo/TJEXXcu7k/new-dashboard?orgId=1&from=1609819202000&to=1622017801000&theme=light&panelId=36" width="500" height="450" frameborder="0"></iframe>
    <iframe src="http://localhost:3000/d-solo/7L6f3397k/neo4j-dashboard?orgId=1&from=1654487746480&to=1654509346480&theme=light&panelId=2" width="400" height="400" frameborder="0"></iframe>
{% endblock %}
